/*
    Paleta de colores a usar:

    #233622
    #44664b
    #82a682
    #becfad
    #d6e4d3
    #e7eee6 - Fondo
*/

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: fit-content;
    padding: 20px;

    background-color: #44664b;
    color: white
}

#home_section {
    padding: 50px;
}

#home_aside {
    position: fixed;
    left: 0;
    top: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: bold;
}


#name {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 20px;

    >img {
        /* background-color: #233622; */
        width: 70px;
        margin-bottom: 10px;
        margin-right: 10px;
    }
}

.description {
    background-color: #d6e4d3;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 10px;

    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.445);
}

#contenedor_user{
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
}

#description {
    display: grid;
    grid-template-columns: 1.9fr .1fr;
}

#edit_description_update {
    margin-top: 10px;
    display: none;
}

#edit_description,
#cancel_edit_description {
    color: #233622;
    display: grid;
    place-items: center;
}

#edit_description:hover {
    color: #44664b;
    cursor: pointer;
}

#cancel_edit_description:hover {
    color: red;
    cursor: pointer;

}

#notes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 30px;

    background-color: #44664b;
    border-radius: 5px;
}

.note {
    background-color: #d6e4d3;
    border-radius: 5px;
    padding: 15px;
    width: 350px;
    height: 317px;
    margin-inline: auto;


    >#img {
        margin-bottom: 10px;
        height: 60px;

        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    >.content_note {
        padding: 10px;

        >.title_note {
            max-height: 90px;
            overflow: hidden;
        }

        >.text_note {
            height: 80px;
            max-height: 100px;
            overflow-y: hidden;
        }
    }
}

#span_edit_note {
    display: grid;
    place-items: center;

    position: relative;
    font-size: 30px;
}

#span_edit_note:hover {
    color: #44664b;
    cursor: pointer;
}

#add_note {
    position: absolute;
    top: 0;
    right: 0;

    width: 100px;
    margin: 20px;
    padding: 10px;
}

/* Pagina NOTA */
#nota {
    background-color: #d6e4d3;
    border-radius: 5px;
    padding: 25px;
    width: 1296px;
    max-width: 1296px;
    max-height: fit-content;

    margin-bottom: 50px;
}

#title_note_decoration {
    width: 500px;
}

#title_nota_decoration{
    display: grid;
    grid-template-columns: 1.7fr .3fr;
}

#color_note{
    padding: 5px;
    height: 50px;
}

#btn_actions {
    display: grid;
    align-content: center;
    gap: 5px;
}